<div id="carouselHomestay" class="carousel carousel-index slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
            <div class="row flex-column flex-md-row">
                <div class="col-md-4">
                    <div class="card card-carousel">
                        <img src="assets/images/index-2.jpeg" class="card-img-top carousel-img img-fit">
                        <div class="card-body text-center d-flex flex-column align-items-center">
                            <div class="mb-1">
                                <img src="assets/images/person-1.png" class="mx-auto">
                            </div>
                            <h5 class="card-title">Jamie</h5>
                            <p class="card-text">寄宿、美容、寵物行為訓練</p>
                            <a href="reservation-detail.html" class="btn btn-tertiary px-16 py-3 mb-6">預約</a>
                            <ul class="list-unstyled d-flex justify-content-center">
                                <li class="mr-18 mr-md-8 mr-xl-16">
                                    <p class="mb-3">獲得評價</p>
                                    <p class="fz-14 font-weight-bold d-flex justify-content-center align-items-center">198<span class="fz-7 ml-1">則</span></p>
                                </li>
                                <li>
                                    <p class="mb-3">已完成訂單</p>
                                    <p class="fz-14 font-weight-bold d-flex justify-content-center align-items-center">580<span class="fz-7 ml-1">件</span></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-carousel">
                        <img src="assets/images/index-3.jpeg" class="card-img-top carousel-img img-fit" style="object-position: center 25%;">
                        <div class="card-body text-center d-flex flex-column align-items-center">
                            <div class="mb-1">
                                <img src="assets/images/person-2.png" class="mx-auto">
                            </div>
                            <h5 class="card-title">Eric</h5>
                            <p class="card-text">寄宿、美容</p>
                            <a href="reservation-detail.html" class="btn btn-tertiary px-16 py-3 mb-6">預約</a>
                            <ul class="list-unstyled d-flex justify-content-center">
                                <li class="mr-18 mr-md-8 mr-xl-16">
                                    <p class="mb-3">獲得評價</p>
                                    <p class="fz-14 font-weight-bold d-flex justify-content-center align-items-center">76<span class="fz-7 ml-1">則</span></p>
                                </li>
                                <li>
                                    <p class="mb-3">已完成訂單</p>
                                    <p class="fz-14 font-weight-bold d-flex justify-content-center align-items-center">208<span class="fz-7 ml-1">件</span></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-carousel">
                        <img src="assets/images/index-4.jpeg" class="card-img-top carousel-img img-fit">
                        <div class="card-body text-center d-flex flex-column align-items-center">
                            <div class="mb-1">
                                <img src="assets/images/person-3.png" class="mx-auto">
                            </div>
                            <h5 class="card-title">Yvonne</h5>
                            <p class="card-text">美容、寵物行為訓練</p>
                            <a href="reservation-detail.html" class="btn btn-tertiary px-16 py-3 mb-6">預約</a>
                            <ul class="list-unstyled d-flex justify-content-center">
                                <li class="mr-18 mr-md-8 mr-xl-16">
                                    <p class="mb-3">獲得評價</p>
                                    <p class="fz-14 font-weight-bold d-flex justify-content-center align-items-center">52<span class="fz-7 ml-1">則</span></p>
                                </li>
                                <li>
                                    <p class="mb-3">已完成訂單</p>
                                    <p class="fz-14 font-weight-bold d-flex justify-content-center align-items-center">196<span class="fz-7 ml-1">件</span></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
      </div>
      <div class="carousel-item">
        <div class="row flex-column flex-md-row">
            <div class="col-md-4">
                <div class="card card-carousel">
                    <img src="assets/images/index-2.jpeg" class="card-img-top carousel-img img-fit">
                    <div class="card-body text-center d-flex flex-column align-items-center">
                        <div class="mb-1">
                            <img src="assets/images/person-1.png" class="mx-auto">
                        </div>
                        <h5 class="card-title">Jamie</h5>
                        <p class="card-text">寄宿、美容、寵物行為訓練</p>
                        <a href="reservation-detail.html" class="btn btn-tertiary px-16 py-3 mb-6">預約</a>
                        <ul class="list-unstyled d-flex justify-content-center">
                            <li class="mr-18 mr-md-8 mr-xl-16">
                                <p class="mb-3">獲得評價</p>
                                <p class="fz-14 font-weight-bold d-flex justify-content-center align-items-center">198<span class="fz-7 ml-1">則</span></p>
                            </li>
                            <li>
                                <p class="mb-3">已完成訂單</p>
                                <p class="fz-14 font-weight-bold d-flex justify-content-center align-items-center">580<span class="fz-7 ml-1">件</span></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-carousel">
                    <img src="assets/images/index-3.jpeg" class="card-img-top carousel-img img-fit" style="object-position: center 25%;">
                    <div class="card-body text-center d-flex flex-column align-items-center">
                        <div class="mb-1">
                            <img src="assets/images/person-2.png" class="mx-auto">
                        </div>
                        <h5 class="card-title">Eric</h5>
                        <p class="card-text">寄宿、美容</p>
                        <a href="reservation-detail.html" class="btn btn-tertiary px-16 py-3 mb-6">預約</a>
                        <ul class="list-unstyled d-flex justify-content-center">
                            <li class="mr-18 mr-md-8 mr-xl-16">
                                <p class="mb-3">獲得評價</p>
                                <p class="fz-14 font-weight-bold d-flex justify-content-center align-items-center">76<span class="fz-7 ml-1">則</span></p>
                            </li>
                            <li>
                                <p class="mb-3">已完成訂單</p>
                                <p class="fz-14 font-weight-bold d-flex justify-content-center align-items-center">208<span class="fz-7 ml-1">件</span></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-carousel">
                    <img src="assets/images/index-4.jpeg" class="card-img-top carousel-img img-fit">
                    <div class="card-body text-center d-flex flex-column align-items-center">
                        <div class="mb-1">
                            <img src="assets/images/person-3.png" class="mx-auto">
                        </div>
                        <h5 class="card-title">Yvonne</h5>
                        <p class="card-text">美容、寵物行為訓練</p>
                        <a href="reservation-detail.html" class="btn btn-tertiary px-16 py-3 mb-6">預約</a>
                        <ul class="list-unstyled d-flex justify-content-center">
                            <li class="mr-18 mr-md-8 mr-xl-16">
                                <p class="mb-3">獲得評價</p>
                                <p class="fz-14 font-weight-bold d-flex justify-content-center align-items-center">52<span class="fz-7 ml-1">則</span></p>
                            </li>
                            <li>
                                <p class="mb-3">已完成訂單</p>
                                <p class="fz-14 font-weight-bold d-flex justify-content-center align-items-center">196<span class="fz-7 ml-1">件</span></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
  </div>
    </div>
    <a class="btn btn-secondary p-1 rounded-circle carousel-next position-absolute d-none d-md-block" href="#carouselHomestay" role="button" data-slide="next">
        <span class="material-icons fz-20 d-flex active" aria-hidden="true">arrow_right</span>
    </a>
  </div>


