<div class="bg-primary py-9">
    <div class="container text-secondary">
        <h2 class="fz-12 fz-sm-20 mb-2 font-weight-bold">有任何我們能幫助您的嗎？</h2>
        <p class="fz-8 fz-sm-10 mb-4 font-weight-bold">
            輸入電子信箱<br>將有專業人員在線幫您解決所有問題
        </p>
        <div class="row no-gutters">
            <div class="col-8 col-md-6 col-lg-4">
                <input type="text" class="form-control h-100 fz-8" placeholder="example@gmail.com" aria-label="example@gmail.com" aria-describedby="button-addon2">
            </div>
            <div class="col-4 col-md-3 col-lg-2">
                <div class="input-group-append">
                    <button class="btn btn-tertiary py-3 border-0 w-100" type="button" id="button-addon2">送出</button>
                </div>
            </div>
        </div>
    </div>
</div>