<div class="bg-primary py-9 text-secondary">
    <div class="container">
        <h2 class="fz-12 fz-md-20 mb-3 mb-md-2 font-weight-bold">有任何我們能幫助您的嗎？</h2>
        <p class="fz-md-10 mb-4 font-weight-bold">輸入電子信箱<br>將有專業人員在線幫您解決所有問題</p>
        <div class="row no-gutters">
            <div class="col-md-9 col-xl-6">
                <div class="input-group mb-3">
                    <div class="row no-gutters w-100">
                        <div class="col-6 col-md-8">
                            <input type="text" class="form-control h-100" placeholder="example@gmail.com" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        </div>
                        <div class="col-6 col-md-4">
                            <div class="input-group-append">
                                <button class="btn btn-tertiary w-100 py-3" type="button">送出</button>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>