<footer class="bg-primary">
    <div class="container">
        <nav class="row justify-content-between py-2">
            <div class="col-lg-5">
                <div class="menu-item justify-content-between">
                    <a href="index.html" class="mr-lg-5">
                        <img src="assets/images/logo-white.png" alt="香水電商">
                    </a>
                    <small class="fz-7 text-white">© 2020. All Rights Reserved.</small>
                </div>
            </div>
            <div class="col-lg-7 d-none d-lg-block">
                <ul class="menu menu-right text-white fz-10 py-1">
                    <li class="ml-9"><a href="products.html">Product</a></li>
                    <li class="ml-9"><a href="#">Blog</a></li>
                    <li class="ml-9"><a href="#">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>
</footer>