<div class="shadow sticky-top bg-white">
	<div class="container py-1">
		<nav class="navbar navbar-expand-sm navbar-light">
			<h1><a href="#" class="logo bg-full">寵物Homestay</a></h1>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse">
			  <ul class="navbar-nav ml-auto font-weight-bold">
				<li class="nav-item ml-md-10">
					<a class="nav-link" href="#">預約服務</a>
				</li>
				<li class="nav-item ml-md-10">
					<a class="nav-link" href="#">成為寵物保姆</a>
				</li>
				<li class="nav-item ml-md-10">
					<a class="nav-link" href="#">登入</a>
				</li>
			  </ul>
			</div>
		</nav>
	</div>
	
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav ml-auto font-weight-bold text-center fz-10 text-secondary">
			<li class="nav-item ml-md-10 border border-gray py-3 hover-bg-gray">
				<a class="nav-link" href="#">預約服務</a>
			</li>
			<li class="nav-item ml-md-10 border border-gray py-3 hover-bg-gray">
				<a class="nav-link" href="#">成為寵物保姆</a>
			</li>
			<li class="nav-item ml-md-10 border border-gray py-3 hover-bg-gray">
				<a class="nav-link" href="#">登入</a>
			</li>
		</ul>
	</div>
</div>
