<nav class="navbar navbar-expand-sm navbar-light p-0">
	<div class="container d-flex justify-content-center justify-content-sm-between position-relative pt-2">
		<h1>
			<a class="logo bg-full" href="#">
				PETPET
			</a>
		</h1>
		<button class="navbar-toggler border-transparent py-3 position-absolute" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="top: 8px; right: 0;">
		  	<span class="navbar-toggler-icon bg-full" style="width: 36px; height: 24px;"></span>
		</button>
		<div class="d-none d-sm-block">
		  <ul class="navbar-nav ml-auto font-weight-bold">
			<li class="nav-item">
			  <a class="nav-link" href="#">預約服務</a>
			</li>
			<li class="nav-item ml-10">
			  <a class="nav-link" href="#">成為寵物保姆</a>
			</li>
			<li class="nav-item ml-10">
			  <a class="nav-link" href="#">登入</a>
			</li>
		  </ul>
		</div>
	</div>
  </nav>
<div class="collapse navbar-collapse d-sm-none" id="navbarNav">
	<ul class="navbar-nav ml-auto text-secondary text-center font-weight-bold fz-10">
	  <li class="nav-item border-top border-bottom border-gray-500">
			<a class="nav-link py-3" href="#">預約服務</a>
	  </li>
	  <li class="nav-item border-bottom border-gray-500">
			<a class="nav-link py-3" href="#">成為寵物保姆</a>
	  </li>
	  <li class="nav-item border-bottom border-gray-500">
			<a class="nav-link py-3" href="#">登入</a>
	  </li>
	</ul>
</div>