<nav class="navbar navbar-expand-xs">
    <h1>
        <a class="bg-full" href="#" style="background-image: url('assets/images//icons/logo.svg');">
            PETPET
        </a>
    </h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto text-primary">
        <li class="nav-item">
          <a class="nav-link" href="#">預約服務</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">成為寵物保姆</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">登入</a>
        </li>
      </ul>
    </div>
  </nav>