<div class="container pt-lg-20 pb-lg-15">
    <div class="row">
        <% for (var i =1; i <= products_number;  i++ ) { %>
            <div class="col-6 col-lg-3 mb-7 mb-lg-15">
                <div class="card">
                    <div class="card-header">
                        <a href="#"><div class="product-list-img bg-full" style="background-image: url('assets/images/products<%= i %>.jpg');"></div></a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Poppy & Barley</h5>
                        <small class="d-block fz-8">Jo Malone</small>
                        <small class="d-block fz-8">NT$1,380<span class="text-line-through text-secondary ml-2">NT$1,580</span></small>
                        <ul class="d-flex p-0">
                            <button type="button" class="btn color-primary mr-3 p-0 d-flex align-items-center" data-toggle="modal" data-target="#addFavorite"><span class="material-icons fz-10">favorite</span></button>
                            <button type="button" class="btn color-primary p-0 d-flex align-items-center" data-toggle="modal" data-target="#addCart"><span class="material-icons fz-10">shopping_cart</span></button>
                        </ul>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</div>
<%- include('modal-addFavorite.ejs') %>
<%- include('modal-addCart.ejs') %>