<div class="modal fade" id="addFavorite" tabindex="-1" role="dialog" aria-labelledby="addFavorite" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <p class="fz-10 text-primary text-center font-weight-bold">已加入我的收藏</p>
        </div>
      </div>
    </div>
</div>