<div class="bg-primary d-none d-lg-block">
    <div class="container">
        <ul class="d-flex list-unstyled fz-10 text-white py-3">
            <li class="mr-7"><a href="products-chanel.html">CHANEL</a></li>
            <li class="mr-7"><a href="#">Jo Malone</a></li>
            <li class="mr-7"><a href="#">Curology</a></li>
            <li class="mr-7"><a href="#">Dior</a></li>
            <li class="mr-7"><a href="#">Chloe</a></li>
            <li class="mr-7"><a href="#">ZARA</a></li>
        </ul>
    </div>
</div>