<div class="container">
    <nav class="navbar">
        <a href="index.html" class="navbar-brand">
            <h1>
                香水電商
                <img src="assets/images/logo.png" alt="香水電商">
            </h1>
        </a>
        <ul class=" menu menu-right color-secondary py-1 fz-10 d-none d-none d-md-flex">
            <li class="ml-8">
                <a href="products.html" class="menu-item">
                    <span class="material-icons mr-1">store</span>
                    Product
                </a>
            </li>
            <li class="ml-8">
                <a href="login.html" class="menu-item">
                    <span class="material-icons mr-1">person</span>
                    log in
                </a>
                
            </li>
            <li class="ml-8">
                <a href="#" class="menu-item">
                    <span class="material-icons mr-1">favorite</span>
                    Wishlist
                </a>
            </li>
            <li class="ml-8">
                <a href="#" class="menu-item">
                    <span class="material-icons mr-1">shopping_cart</span>
                    Cart(3)
                </a>
            </li>
        </ul>
        <a href="#" class="position-relative d-flex align-items-center d-md-none ml-auto mr-5">
            <span class="material-icons color-secondary">shopping_cart</span>
            <span class="bg-primary rounded-pill text-white fz-6 px-2 position-absolute icon-cart-number">3</span>
        </a>
        <button class="navbar-toggler border-0 d-md-none p-0" type="button" data-toggle="collapse" data-target="#navMenu" aria-controls="navMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="material-icons fz-20 color-secondary">menu</span>
        </button>
        <div class="collapse navbar-collapse d-md-none" id="navMenu">
            <ul class="list-unstyled bg-gray-dark text-center text-white fz-10">
                <li class="border"><a href="products.html" class="hover-color-white py-4">Product</a></li>
                <li class="border"><a href="#" class="hover-color-white py-4">Wishlist</a></li>
                <li class="border"><a href="#" class="hover-color-white py-4">Blog</a></li>
                <li class="border"><a href="#" class="hover-color-white py-4">Contact</a></li>
                <li class="border"><a href="login.html" class="hover-color-white py-4">log in</a></li>
            </ul>
        </div>
      </nav>
</div>