<div class="row mb-5">
    <% for (var i =0; i < homestay_number;  i++ ) { %>
        <div class="col-6 col-md-4 col-xl-3 mb-3 mb-md-5 mb-xl-8">
            <div class="card h-100 border-0 shadow">
                <img src="assets/images/homestay-<%= i+2 %>.jpeg" class="card-img-top reservation-homestay-img" alt="Homestay-<%= i %>">
                <div class="card-body bg-gray px-4 px-md-3 px-xl-4 py-2">
                    <h5 class="card-title mb-2 text-secondary font-weight-bold"><%= homestay_name[i] %></h5>
                    <div class="d-flex align-items-center text-primary mb-2">
                        <% for (var j =0; j < star_number;  j++ ) { %>
                            <span class="material-icons">star</span>
                        <% } %>
                    </div>
                    <p class="card-text text-secondary font-weight-bold"><%= homestay_service[i] %></p>
                </div>
                <div class="row no-gutters">
                    <div class="col-6">
                        <a href="#" class="btn wh-fluid py-3 text-secondary hover-bg-dark-gray font-weight-bold">聯繫</a>
                    </div>
                    <div class="col-6">
                        <a href="#" class="btn wh-fluid py-3 text-tertiary hover-bg-dark-gray font-weight-bold">預約</a>
                    </div>
                    
                </div>
            </div>
        </div>
    <% } %>
</div>
