// Custom color variables
// Change theme color
$primary:   #F8B52E
$secondary: #772400

// Add theme color
$tertiary:  #D54100
$transparent: transparent
$gray:      #FAFAFA
$dark-gray: #00000029
$brown-gray: #887676
$theme-colors: ( "tertiary": $tertiary, "transparent": $transparent, "gray": $gray, "dark-gray": $dark-gray, "brown-gray": $brown-gray )


// Responsive font variables
$font-size-unit: 2px
$min-font-size-level: 6
$max-font-size-level: 36


// Custom position variables
$positions: static, relative, absolute, fixed, sticky, initial


// Custom grid variables
$grid-breakpoints: ( xss: 0px, xs: 375px, sm: 576px, md: 768px, lg: 992px, xl: 1280px )
$container-max-widths: ( xs: 345px, sm: 540px, md: 720px, lg: 960px, xl: 1110px )


// Custom spacing variables
$spacer: 4px
$min-spacer-level: 1
$max-spacer-level: 90
$spacers: create-spacer-map()

// Custom Boostrap navbar variables
$navbar-padding-y: 0
$navbar-light-color: $secondary
$navbar-light-toggler-icon-bg:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$primary}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>")

// Custom Bootstrap pagination variables
$pagination-color:  $secondary
$pagination-padding-y: 10px
$pagination-padding-x: 16px
$pagination-line-height: 1.125